@use 'styles/variables' as *;
@use 'components/header/styles';

html,
body {
  width: 100%;
  margin: 0px;
  color:$text-main;
  background-color: $bg-main;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}