@use '../../styles/variables' as *;

.header{
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: $nav-main;
    width: 100%;

    &__logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }

    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
       flex: 1;
    }

    &__list{
       display: flex;
       font-size: 25px;
       
    }

    &__item{
        margin-left: 10px;
        margin-right: 10px;

    }

}